@import url('https://fonts.googleapis.com/css?family=Montserrat');


.landing-page{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 
    text-align:center;
    padding-top: 5%;
    background-image: url('../../images/homeBG.jpg');
    background-position: center center;
    box-shadow:inset 0 0 0 2000px rgba(105, 7, 40, 0.3);
    min-height: calc(100vh - 64px);
    background-size: cover;
}

.market-card{
    background-color: orange;
    font-family: 'Montserrat';
    font-size: 15px;
}