@import url('https://fonts.googleapis.com/css?family=Montserrat');

.product-form{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 
    text-align:center;
    padding-top: 5%;
    background-image: url('../../images/homeBG.jpg');
    background-position: center center;
    box-shadow:inset 0 0 0 2000px rgba(105, 7, 40, 0.3);
    min-height: calc(100vh - 64px);
    background-size: cover;
}

.product-form h1{
    width: 100%;
}

.product-form form{
    width: 100%;
}

.submit-section-product{
    margin-top:5%;
    margin-bottom:5%;
    display: flex;
    justify-content: center;
    width:100%
}

.submit-button-product{
    color: #ffffff !important;
    background-color: rgba(180, 45, 90, 0.911) !important;
    font-size:30px !important;
    border-radius: 25px !important;
    padding: 15px !important;
    font-family: 'Montserrat' !important;
    width: 35%;
}

.submit-button-product:hover{
    background-color: white !important;
    color: rgba(180, 45, 90) !important;
}

.input-field-product{
    background-color: white;
    width: 51% !important;
    border-radius: 25px;
}

.product-form h1{
    font-size:50px;
    color:white;
    font-family: 'Montserrat'
}

